@model IEnumerable<BikeZone_Store.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="text-end">
        <a  asp-controller="Products" asp-action="Create" class="btn btn-outline-primary">Add New</a>
    </div>





    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {

                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td >
                        <a asp-action="Edit" asp-route-Id="@product.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Id="@product.Id" class="btn btn-outline-danger">Delete</a>
                    </td>

                </tr>

            }


        </tbody>
    </table>
</div>